.color {
    &-fff {
        color: #fff;
    }
    &_ff4d6b{
      color: #ff4d6b;
    }
    &_0079ff {
        color: #0079ff;
    }
    &_000 {
        color: #000;
    }
    &_666 {
        color: #666;
    }
    &_999 {
        color: #999;
    }
    &_d6d6d6 {
        color: #d6d6d6;
    }
}