.height {
    &-b {
        &_100 {
            height: 100%;
        }
    }
    &_01 {
        height: 1px;
    }
    &_18 {
        height: 18px;
    }
    &_26 {
        height: 26px;
    }
    &_28 {
        height: 28px;
    }
    &_34 {
        height: 34px;
    }
    &_35 {
        height: 35px;
    }
    &_80 {
        height: 80px;
    }
    &_88 {
        height: 88px;
    }
    &_55 {
        height: 55px;
    }
    &_60 {
        height: 60px;
    }
    &_70 {
        height: 70px;
    }
    &_90 {
        height: 90px;
    }
    &_110 {
        height: 110px;
    }
    &_140 {
        height: 140px;
    }
    &_160 {
        height: 160px;
    }
    &_220 {
        height: 220px;
    }
    &_570 {
        height: 570px;
    }
    &_650 {
        height: 650px;
    }
    &-px {
        &_1 {
            height: 1px;
        }
    }
}