.w {
    &-b {
        &_32 {
            width: 32%;
        }
        &_100 {
            width: 100%;
        }
    }
    &_10 {
        width: 10px;
    }
     &_19 {
        width: 19px;
    }
    &_28 {
        width: 28px;
    }
     &_42 {
        width: 42px;
    }
    &_110 {
        width: 110px;
    }
     &_190 {
        width: 190px;
    }
    &_210 {
        width: 210px;
    }
    &_220 {
        width: 220px;
    }
    &_570 {
        width: 570px;
    }
    &_650 {
        width: 650px;
    }
}