<div class="bg-color-fff height-b_100">
  <div class="padding-x_30">
    <!--商品信息 start-->
    <div class="flex-box padding-top_30">
      <!--图片 start-->
      <div class="w_220 height_220 margin-right_20">
        <img class="w_220 height_220" [src]="productData.Picture" alt="">
      </div>
      <!--图片 end-->
      <!--文字描述 start-->
      <div class="flex_1">
        <h4 class="font-size_32 line-height_45 height_90 line-two">
          {{productData.Title}}
        </h4>
        <div class="color_000 font-size_32 margin-top_26 margin-bottom_23 line-height_42">
          RMB {{productData.Price}} <span class="color_999 font-size_24">(国际运费后付)</span>
        </div>
        <div class="font-size_26">
          <span class="color_999">源自</span>
          <a [href]="productData.Url" class="color_0079ff ">{{productData.SiteName}}</a>
          <span class="arr-right"></span>
        </div>
      </div>
      <!--文字描述 end-->

    </div>
    <!--商品信息 emd-->

    <!--商品二维码 start-->
    <div class="w_650 height_650  margin-y-auto margin-top_60 position-relative flex-box align-items-center justify-center">
      <img class="w_570" [src]="qrCode" alt="">
      <div>
        <img class="w_110 height_110 position-absolute top_0 left_0" src="../../../assets/images/coner.png" alt="">
        <img class="w_110 height_110 position-absolute top_0 right_0 transform-rotate_90" src="../../../assets/images/coner.png" alt="">
        <img class="w_110 height_110 position-absolute bottom_0 right_0 transform-rotate_180" src="../../../assets/images/coner.png"
          alt="">
        <img class="w_110 height_110 position-absolute bottom_0 left_0  transform-rotate_270" src="../../../assets/images/coner.png"
          alt="">
      </div>
      <div class="position-absolute text-center bottom_023 font-size_36 color_ff4d6b">长按识别图中二维码</div>
    </div>

    <!--商品二维码 end-->


  </div>
</div>